.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 20px;
  
    ion-input {
      width: 100%;
      margin-bottom: 15px;
      border-radius: 20px;
      background-color: rgba(0, 0, 0, 0.1);
      padding: 15px;
      box-sizing: border-box;
  
      ion-icon[name="eye-outline"] {
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
      }
    }
  
    .forgot-password,
    .signup-text {
      margin-top: 10px;
      color: gray;
      text-align: center;
      font-size: 14px;
    }
  
    .login-button {
      --background: #007bff;
      margin-top: 20px;
      width: 100%;
    }
  
    .form-group {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 20px;
  
      ion-input {
        width: 100%; 
      }
    }
  
    .avatar-container {
      display: flex;
      justify-content: space-between;
      margin-top: 20px;
  
      ion-avatar {
        margin-top: 500px;
        width: 300%;
        margin: 100px auto;
      }
  
      ion-avatar:last-child {
        margin-top: 50px;
        width: 600%;
        margin: 10px auto;
        align-items: 200%;
      }
      ion-select {
        width: 100%;
        max-width: 200px;
        margin-left: auto;
        margin-right: auto;
      }
      
      ion-label {
        position: absolute;
        left: 0;
      }
      
    }
  }