<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      Completa tus datos para el registro
    </ion-card-header>
    <ion-card-content>
      <ion-input placeholder="Nombres Dueno" [(ngModel)]="nombresDueno"></ion-input>
      <ion-input placeholder="Apellidos Dueno" [(ngModel)]="apellidosDueno"></ion-input>
      <ion-input placeholder="Nombre Mascota" [(ngModel)]="nombreMascota"></ion-input>
      <ion-item>
        <ion-label>Tipo de Animal</ion-label>
        <ion-select [(ngModel)]="tipoAnimal">
          <ion-select-option value="Perro">Perro</ion-select-option>
          <ion-select-option value="Gato">Gato</ion-select-option>
          <ion-select-option value="Hámster">Hámster</ion-select-option>
          <ion-select-option value="Ratón">Ratón</ion-select-option>
          <ion-select-option value="Conejo">Conejo</ion-select-option>
          <ion-select-option value="Hurón">Hurón</ion-select-option>
          <ion-select-option value="Camaleón">Camaleón</ion-select-option>
          <ion-select-option value="Lagarto">Lagarto</ion-select-option>
          <ion-select-option value="Animal acuático">Animal acuático</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-input placeholder="Run Mascota" [(ngModel)]="runMascota" type="number"pattern="[0-9]*" maxlength="15"></ion-input>
      <ion-input placeholder="Nickname" [(ngModel)]="nickname" type=></ion-input>
      <ion-input placeholder="Contrasena" [(ngModel)]="contrasena" type="password"></ion-input>
      <ion-input placeholder="RUT" [(ngModel)]="rutPropietario"></ion-input>
      <ion-input placeholder="Correo Electrónico" [(ngModel)]="correo" type="email"></ion-input>
      <ion-input placeholder="Región" [(ngModel)]="region"></ion-input>
      <ion-input placeholder="Comuna" [(ngModel)]="comuna"></ion-input>
      <ion-input placeholder="Dirección" [(ngModel)]="direccion"></ion-input>
      <ion-input placeholder="Número" [(ngModel)]="numero" type="number"></ion-input>
      <ion-input placeholder="Número de Teléfono" [(ngModel)]="telefono" type="number"></ion-input>
    </ion-card-content>
    <ion-footer>
      <ion-button expand="full" (click)="registrarUsuario()">Registrarse</ion-button>
    </ion-footer>
  </ion-card> 

  <ion-card *ngIf="registroExitoso">
    <ion-card-header>
      Registro Exitoso
    </ion-card-header>
    <ion-card-content>
      ¡El usuario ha sido registrado exitosamente!
    </ion-card-content>
    <ion-footer>
      <ion-button (click)="irAPagina2()">Ingresar</ion-button>
    </ion-footer>
  </ion-card>
</ion-content>