<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tab4"></ion-back-button>
    </ion-buttons>
    <ion-title>Notificaciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-item class="notification-item">
    <ion-label>
      Bienvenido al sistema FmPets, este es un mensaje de prueba.
    </ion-label>
  </ion-item>

 
  <ion-list>
    <ion-item *ngFor="let notification of notifications">
      {{ notification }}
    </ion-item>
  </ion-list>
</ion-content>
