ion-item.notification-item {
  background-color: #f8d7da; /* Color de fondo */
  border-color: #f5c6cb; /* Color del borde */
  color: #721c24; /* Color del texto */
  margin: 10px;
  border-radius: 8px;
  padding: 15px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Sombra para darle profundidad */
}

@media screen and (max-width: 768px) {
  ion-item.notification-item {
    padding: 10px;
    font-size: 14px; /* Tamaño de fuente para dispositivos más pequeños */
  }
}
