<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tab4"></ion-back-button> 
    </ion-buttons>
    <ion-title>Mis Reservas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card *ngFor="let reservation of reservations">
    <ion-card-header>
      <ion-card-title>{{ reservation.doctor.nombres }} {{ reservation.doctor.apellidos }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label>
          <h2>Hora reservada para: {{ reservation.hora }}</h2>
          <p>Nombre del usuario: {{ reservation.usuario.nombresDueno }} {{ reservation.usuario.apellidosDueno }}</p>
          <p>Nombre de la mascota: {{ reservation.mascota.nombreMascota }}</p>
          <p>Tipo de mascota: {{ reservation.mascota.tipoAnimal }}</p>
        </ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>


