body {
    background: linear-gradient(to bottom, #3c91e6, #1974bb);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
  }
  