<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tab11"></ion-back-button> 
    </ion-buttons>
    <ion-title>Historial Medico</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card *ngFor="let record of medicalRecords">
    <ion-card-header>
      <ion-card-title>{{ record.doctor }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label>
          <p>Nombre de la mascota: {{ record.mascota }}</p>
          <p>Descripción: {{ record.description }}</p>
        </ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>
